{# SwagEmporiumTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/page/account/profile/personal.html.twig' %}

{% block page_account_profile_personal_fields_birthday_select_day %}
    <div class="form-group col-12 col-md-4 col-lg-2 contact-day">
        <select id="personalBirthday"
                name="birthdayDay"
                class="form-select{% if formViolations.getViolations('/birthdayDay') is not empty %} is-invalid{% endif %}"
                required="required">
            {% if not birthday %}
                <option selected="selected"
                        value="">
                    {{ "account.personalBirthdaySelectDay"|trans|sw_sanitize }}
                </option>
            {% endif %}
            {% for day in range(1, 31) %}
                <option value="{{ day }}"
                    {% if day == birthday %} selected="selected"{% endif %}>
                    {{ day }}
                </option>
            {% endfor %}
        </select>

        {{ block('page_account_profile_personal_fields_birthday_select_day_error') }}
    </div>
{% endblock %}

{% block page_account_profile_personal_fields_birthday_select_month %}
    <div class="form-group col-12 col-md-4  col-lg-2 contact-month">
        <select name="birthdayMonth"
                class="form-select{% if formViolations.getViolations('/birthdayMonth') is not empty %} is-invalid{% endif %}"
                required="required">
            {% if not birthmonth %}
                <option selected="selected"
                        value="">
                    {{ "account.personalBirthdaySelectMonth"|trans|sw_sanitize }}
                </option>
            {% endif %}
            {% for month in range(1, 12) %}
                <option value="{{ month }}"
                    {% if month == birthmonth %} selected="selected"{% endif %}>
                    {{ month }}
                </option>
            {% endfor %}
        </select>

        {{ block('page_account_profile_personal_fields_birthday_select_month_error') }}
    </div>
{% endblock %}

{% block page_account_profile_personal_fields_birthday_select_year %}
    <div class="form-group col-12 col-md-4  col-lg-2 contact-year">
        {% set currentYear = "now"|date('Y') %}
        {% set startYear = currentYear - 120 %}

        <select name="birthdayYear"
                class="form-select{% if formViolations.getViolations('/birthdayYear') is not empty %} is-invalid{% endif %}"
                required="required">
            {% if not birthyear %}
                <option selected="selected"
                        value="">
                    {{ "account.personalBirthdaySelectYear"|trans|sw_sanitize }}
                </option>
            {% endif %}
            {% for year in range(currentYear, startYear) %}
                <option value="{{ year }}"
                    {% if year == birthyear %} selected="selected"{% endif %}>
                    {{ year }}
                </option>
            {% endfor %}
        </select>

        {{ block('page_account_profile_personal_fields_birthday_select_year_error') }}
    </div>
{% endblock %}
