{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_button_container %}

    {% if config('core.cart.wishlistEnabled') %}
        <div class="col-auto">
            {% block page_product_detail_wishlist %}
                {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                    showText: false,
                    size: 'md',
                    productId: page.product.id
                } %}
            {% endblock %}
        </div>
    {% endif %}

    <div class="col">
        {% block page_product_detail_buy_button %}
            {# @deprecated tag:v6.5.0 - Bootstrap v5 removes `btn-block` class, use `d-grid` wrapper instead #}
            {% if feature('v6.5.0.0') %}
                <div class="d-grid">
                    <button class="btn btn-primary btn-buy"
                            title="{{ "detail.addProduct"|trans|striptags }}"
                            aria-label="{{ "detail.addProduct"|trans|striptags }}">
                        {{ "detail.addProduct"|trans|sw_sanitize }}
                        {% sw_icon 'ic-cart' style { 'pack':'emporium' } %}
                    </button>
                </div>
            {% else %}
                <button class="btn btn-primary btn-block btn-buy"
                        title="{{ "detail.addProduct"|trans|striptags }}"
                        aria-label="{{ "detail.addProduct"|trans|striptags }}">
                    {{ "detail.addProduct"|trans|sw_sanitize }}
                    {% sw_icon 'ic-cart' style { 'pack':'emporium' } %}
                </button>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
