{% sw_extends '@Storefront/storefront/page/product-detail/headline.html.twig' %}

{% block page_product_detail_manufacturer %}{% endblock %}

{% block page_product_detail_name_container %}
    {% set price = page.product.calculatedPrice %}

    {% if page.product.calculatedPrices|length == 1 %}
        {% set price = page.product.calculatedPrices.first %}
    {% endif %}

    {% set listPrice = price.listPrice %}

    {% if page.product.calculatedPrices|length <= 1 and listPrice %}
        {% block page_product_detail_was_price_badge %}
            <div class="col product-detail-badge badge-danger">
                        <span class="list-price-badge">
                            {% sw_icon 'ic-discount' style { 'pack': 'emporium' } %}
                        </span>
                <span class="list-price-percentage">{{ "detail.listPricePercentage"|trans({'%price%': listPrice.percentage })|sw_sanitize }}</span>
            </div>
        {% endblock %}
    {% endif %}

    {{ parent() }}

    {% block clone_page_product_detail_reviews %}
        {% set remoteClickOptions = {
            selector: "#review-tab",
            scrollToElement: true
        } %}

        {% if page.product.ratingAverage > 0 and page.reviews.totalReviews > 0 and config('core.listing.showReview') %}
            <div class="col product-detail-reviews">

                {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                    points: page.product.ratingAverage,
                    style: 'text-primary'
                } %}
                <a {{ dataBsToggleAttr }}="tab"
                class="product-detail-reviews-link"
                data-offcanvas-tabs="true"
                data-remote-click="true"
                data-remote-click-options='{{ remoteClickOptions|json_encode }}'
                href="#review-tab-pane"
                aria-controls="review-tab-pane">
                {{ page.reviews.totalReviews }}
                {{ "detail.reviewLinkText"|trans({'%count%': page.reviews.totalReviews})|sw_sanitize }}
                </a>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
