{# SwagEmporiumTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/layout/footer/footer-minimal.html.twig' %}

{% block layout_footer_inner_container %}
    <footer class="footer-simple">
        {% block layout_footer_bottom %}
            {{ parent() }}
        {% endblock %}
    </footer>
{% endblock %}

{% block layout_footer_service_menu %}
    <ul class="footer-service-menu-list list-unstyled">
        {% if config('core.basicInformation.imprintPage') is not null %}
            <li class="footer-service-menu-item">
                <a href="{{ seoUrl('frontend.maintenance.singlepage',{ id: config('core.basicInformation.imprintPage') }) }}"
                   title="{{ "general.imprintLink"|trans|sw_sanitize }}"
                   class="footer-service-menu-link">
                    {{ "general.imprintLink"|trans|sw_sanitize }}
                </a>
            </li>
        {% endif %}
        {% if config('core.basicInformation.privacyPage') is not null %}
            <li class="footer-service-menu-item">
                <a href="{{ seoUrl('frontend.maintenance.singlepage',{ id: config('core.basicInformation.privacyPage') }) }}"
                   title="{{ "general.privacyLink"|trans|sw_sanitize }}"
                   class="footer-service-menu-link">
                    {{ "general.privacyLink"|trans|sw_sanitize }}
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block layout_footer_service_menu_content %}
    <ul class="footer-service-menu-list list-unstyled">
        {% if config('core.basicInformation.imprintPage') is not null %}
            <li class="footer-service-menu-item">
                <a href="{{ seoUrl('frontend.maintenance.singlepage',{ id: config('core.basicInformation.imprintPage') }) }}"
                   title="{{ "general.imprintLink"|trans|sw_sanitize }}"
                   class="footer-service-menu-link">
                    {{ "general.imprintLink"|trans|sw_sanitize }}
                </a>
            </li>
        {% endif %}
        {% if config('core.basicInformation.privacyPage') is not null %}
            <li class="footer-service-menu-item">
                <a href="{{ seoUrl('frontend.maintenance.singlepage',{ id: config('core.basicInformation.privacyPage') }) }}"
                   title="{{ "general.privacyLink"|trans|sw_sanitize }}"
                   class="footer-service-menu-link">
                    {{ "general.privacyLink"|trans|sw_sanitize }}
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
