{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_inner_container %}
    {% block layout_footer_newsletter %}
        <div class="footer-top">
            <div class="container">
                <div class="footer-newsletter">
                    <div class="footer-newsletter-container">
                        {% block layout_footer_newsletter_content %}
                            {% sw_include '@Storefront/storefront/layout/footer/footer-newsletter-widget.html.twig' %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block layout_footer_navigation %}
        <div class="footer-middle">
            <div class="container">
                <div class="row footer-middle-wrap">
                    <div class="col-12 col-lg-8 footer-navigation">
                        <div id="footerColumns"
                             class="row footer-columns"
                             data-collapse-footer-columns="true">
                            {% block layout_footer_navigation_columns %}
                                {% for root in page.footer.navigation.tree %}
                                    {% block layout_footer_navigation_column %}
                                        {# Change col-md-4 to col-md-3 #}
                                        <div class="col-md-3 footer-column js-footer-column">
                                            {{ block('layout_footer_navigation_information_headline') }}

                                            {{ block('layout_footer_navigation_information_content') }}
                                        </div>
                                    {% endblock %}
                                {% endfor %}
                            {% endblock %}

                            {% block layout_footer_navigation_social %}
                                <div class="col-md-3 footer-column js-footer-column">
                                    {% block layout_footer_navigation_social_headline %}
                                        <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
                                             id="collapseFooterSocialTitle"
                                            data-bs-target="#collapseFooterSocial"
                                            aria-expanded="true"
                                            aria-controls="collapseFooterSocial">
                                            {{ 'footer.socialMediaHeadline'|trans|sw_sanitize }}
                                            {% block layout_footer_navigation_social_icons %}
                                                <div class="footer-column-toggle">
                                                <span class="footer-plus-icon">
                                                    {% sw_icon 'plus' %}
                                                </span>
                                                    <span class="footer-minus-icon">
                                                    {% sw_icon 'minus' %}
                                                </span>
                                                </div>
                                            {% endblock %}
                                        </div>
                                    {% endblock %}

                                    {% block layout_footer_navigation_social_content %}
                                        <div id="collapseFooterSocial"
                                             class="footer-column-content collapse js-footer-column-content footer-contact"
                                             aria-labelledby="collapseFooterSocialTitle">
                                            <div class="footer-column-content-inner">
                                                <ul class="list-unstyled">
                                                    <li class="footer-link-item">
                                                        <a class="links facebook"
                                                           href="{{ theme_config('sw-facebook-link') |sw_encode_url }}"
                                                           title="{{ "footer.facebookLink"|trans|striptags }}"
                                                           rel="noopener"
                                                           target="_blank">
                                                            {% sw_icon 'ic-facebook' style {'pack' : 'emporium'} %}
                                                            {{ 'footer.facebookHeadline'|trans|sw_sanitize }}
                                                        </a>
                                                    </li>
                                                    <li class="footer-link-item">
                                                        <a class="links instagram"
                                                           href="{{ theme_config('sw-instagram-link') |sw_encode_url }}"
                                                           title="{{ "footer.instagramLink"|trans|striptags }}"
                                                           rel="noopener"
                                                           target="_blank">
                                                            {% sw_icon 'ic-instagram' style {'pack' : 'emporium'} %}
                                                            {{ 'footer.instagramHeadline'|trans|sw_sanitize }}
                                                        </a>
                                                    </li>
                                                    <li class="footer-link-item">
                                                        <a class="links twitter"
                                                           href="{{ theme_config('sw-twitter-link') |sw_encode_url }}"
                                                           title="{{ "footer.twitterLink"|trans|striptags }}"
                                                           rel="noopener"
                                                           target="_blank">
                                                            {% sw_icon 'ic-twitter' style {'pack' : 'emporium'} %}
                                                            {{ 'footer.twitterHeadline'|trans|sw_sanitize }}
                                                        </a>
                                                    </li>
                                                    <li class="footer-link-item">
                                                        <a class="links tiktok"
                                                           href="{{ theme_config('sw-tiktok-link') |sw_encode_url }}"
                                                           title="{{ "footer.tiktokLink"|trans|striptags }}"
                                                           rel="noopener"
                                                           target="_blank">
                                                            {% sw_icon 'ic-tiktok' style {'pack' : 'emporium'} %}
                                                            {{ 'footer.tiktokHeadline'|trans|sw_sanitize }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 footer-hotline">
                        {% block layout_footer_navigation_hotline %}
                            {% block layout_footer_navigation_hotline_content %}
                                <div class="footer-hotline-wrap">
                                    {% block layout_footer_logo %}
                                        <a class="footer-logo-main-link"
                                           href="{{ path('frontend.home.page') }}"
                                           title="{{ "header.logoLink"|trans|striptags }}">
                                            {% if theme_config('sw-footer-logo') %}
                                                <img src="{{ theme_config('sw-footer-logo')|sw_encode_url }}"
                                                     alt="{{ "header.logoLink"|trans|striptags }}"
                                                     class="footer-logo-main-img"/>
                                            {% endif %}
                                        </a>
                                    {% endblock %}
                                    <p>{{ 'footer.serviceHotlineHeadline'|trans|sw_sanitize }}</p>
                                    <div class="footer-contact-hotline">
                                        {{ 'footer.serviceHotline'|trans|sw_sanitize }}
                                    </div>
                                    <div class="footer-contact-form">
                                        {{ 'footer.serviceContactText'|trans({
                                            '%url%': path('frontend.cms.page', { id: config('core.basicInformation.contactPage') })
                                        })|raw }}
                                    </div>
                                </div>
                            {% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block layout_footer_payment_shipping_logos %}
        {% apply spaceless %}
            {{ parent() }}
        {% endapply %}
    {% endblock %}

    {% block layout_footer_bottom %}
        <div class="footer-service">
            {% block layout_footer_service_menu %}
                {{ parent() }}
            {% endblock %}
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        {% block layout_footer_quality_info %}
                            <div class="footer-quality">
                                {{ "footer.qualityInfo"|trans|sw_sanitize }}
                            </div>
                        {% endblock %}
                    </div>

                    <div class="col-12 col-md-6">
                        {{ block('layout_footer_vat') }}
                    </div>

                    <div class="col-12 col-md-3">
                        {% block layout_footer_copyright %}
                            <div class="footer-copyright">
                                {% sw_icon 'ic-shopware' style { 'pack': 'emporium' } %}
                                {{ "footer.copyrightInfo"|trans|sw_sanitize }}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
