{% block layout_footer_navigation_newsletter_form %}
    <div class="row footer-newsletter-form">
        <div class="col-12 footer-newsletter-header">
            {% block layout_footer_navigation_newsletter_header %}
                <div class="footer-newsletter-header-headline">{{ 'footer.newsletterHeadline'|trans|sw_sanitize }}</div>
                <p>{{ 'footer.newsletterSubHeadline'|trans|sw_sanitize }}</p>
            {% endblock %}
        </div>

        <div class="col-12 cms-block footer-newsletter-content">
            {% block layout_footer_navigation_newsletter_content %}
                <a
                    data-ajax-modal="true"
                    href="{{ path('frontend.cms.page',{ id: config('core.basicInformation.newsletterPage')}) }}"
                    data-url="{{ path('frontend.cms.page',{ id: config('core.basicInformation.newsletterPage')}) }}"
                    class="btn btn-outline-primary"
                    role="button"
                    title="{{ 'newsletter.submitText'|trans|striptags }}"
                    id="footerNewsletterBtnAddon"
                >
                {{ 'newsletter.submitText'|trans|striptags }}
                </a>
            {% endblock %}
        </div>
    </div>
{% endblock %}
