{% sw_extends '@Storefront/storefront/layout/header/actions/language-widget.html.twig' %}

{% block layout_header_actions_language_widget_content %}
    {% set isoCode = page.header.activeLanguage.translationCode.code|lower|split('-') %}
    {% set language = isoCode[0] %}
    {% set country = isoCode[1] %}

    <div class="languages-menu dropdown">
        <button class="btn dropdown-toggle top-bar-nav-btn"
                type="button"
                id="languagesDropdown-{{ position }}"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
            <span class="top-bar-nav-text">{{ page.header.activeLanguage.name }}</span>
            <span class="collapse-down-icon">{% sw_icon 'chevron-down-sm' style { 'pack':'emporium' } %}</span>
        </button>

        {{ block('layout_header_actions_languages_widget_form_items') }}
    </div>

    <input name="redirectTo" type="hidden" value="{{ app.request.get('_route') }}"/>

    {% for key, value in app.request.attributes.get('_route_params') %}
        <input name="redirectParameters[{{ key }}]" type="hidden" value="{{ value }}">
    {% endfor %}
{% endblock %}
