{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block page_product_detail_product_buy_button %}
    {# @deprecated tag:v6.5.0 - Bootstrap v5 removes `btn-block` class, use `d-grid` wrapper instead #}
    {% if feature('v6.5.0.0') %}
        <div class="d-grid">
            <button class="btn btn-md btn-buy"
                    title="{{ "listing.boxAddProduct"|trans|striptags }}">
                {% sw_icon 'ic-cart' style { 'pack': 'emporium' } %}
            </button>
        </div>
    {% else %}
        <button class="btn btn-block btn-md btn-buy"
                title="{{ "listing.boxAddProduct"|trans|striptags }}">
            {% sw_icon 'ic-cart' style { 'pack': 'emporium' } %}
        </button>
    {% endif %}
{% endblock %}

{% block component_product_box_action_detail %}
    {# @deprecated tag:v6.5.0 - Bootstrap v5 removes `btn-block` class, use `d-grid` wrapper instead #}
    {% if feature('v6.5.0.0') %}
        <div class="d-grid">
            <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
               class="btn btn-light"
               title="{{ "listing.boxProductDetails"|trans|striptags }}">
                {% sw_icon 'ic-info' style { 'pack': 'emporium' } %}
            </a>
        </div>
    {% else %}
        <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
           class="btn btn-block btn-light"
           title="{{ "listing.boxProductDetails"|trans|striptags }}">
            {% sw_icon 'ic-info' style { 'pack': 'emporium' } %}
        </a>
    {% endif %}
{% endblock %}
