{% sw_extends '@Storefront/storefront/page/account/sidebar.html.twig' %}

{% block page_account_sidebar_link_home %}
    <a href="{{ path('frontend.account.home.page') }}"
       title="{{ "account.overviewLink"|trans|striptags }}"
       class="list-group-item list-group-item-action account-aside-item{% if activeRoute is same as('frontend.account.home.page') %} is-active{% endif %}">
        {{ "account.overviewLink"|trans|sw_sanitize }}
        {% sw_icon 'ic-arrow-right' style { 'pack': 'emporium' } %}
    </a>
{% endblock %}

{% block page_account_sidebar_link_profile %}
    <a href="{{ path('frontend.account.profile.page') }}"
       title="{{ "account.profileLink"|trans|striptags }}"
       class="list-group-item list-group-item-action account-aside-item{% if activeRoute is same as('frontend.account.profile.page') %} is-active{% endif %}">
        {{ "account.profileLink"|trans|sw_sanitize }}
        {% sw_icon 'ic-arrow-right' style { 'pack': 'emporium' } %}
    </a>
{% endblock %}

{% block page_account_sidebar_link_address %}
    <a href="{{ path('frontend.account.address.page') }}"
       title="{{ "account.addressLink"|trans|striptags }}"
       class="list-group-item list-group-item-action account-aside-item{% if activeRoute is same as('frontend.account.address.page') %} is-active{% endif %}">
        {{ "account.addressLink"|trans|sw_sanitize }}
        {% sw_icon 'ic-arrow-right' style { 'pack': 'emporium' } %}
    </a>
{% endblock %}

{% block page_account_sidebar_link_payment %}
    <a href="{{ path('frontend.account.payment.page') }}"
       title="{{ "account.paymentLink"|trans|striptags }}"
       class="list-group-item list-group-item-action account-aside-item{% if activeRoute is same as('frontend.account.payment.page') %} is-active{% endif %}">
        {{ "account.paymentLink"|trans|sw_sanitize }}
        {% sw_icon 'ic-arrow-right' style { 'pack': 'emporium' } %}
    </a>
{% endblock %}

{% block page_account_sidebar_link_orders %}
    <a href="{{ path('frontend.account.order.page') }}"
       title="{{ "account.ordersLink"|trans|striptags }}"
       class="list-group-item list-group-item-action account-aside-item{% if activeRoute is same as('frontend.account.order.page') %} is-active{% endif %}">
        {{ "account.ordersLink"|trans|sw_sanitize }}
        {% sw_icon 'ic-arrow-right' style { 'pack': 'emporium' } %}
    </a>
{% endblock %}
