{% sw_extends '@Storefront/storefront/page/checkout/address/index.html.twig' %}

{% set expressSettings = page.extensions[constant('Swag\\PayPal\\Checkout\\ExpressCheckout\\ExpressCheckoutSubscriber::PAYPAL_EXPRESS_CHECKOUT_BUTTON_DATA_EXTENSION_ID')] %}
{% set expressEnabled = expressSettings.loginEnabled %}
{% set installmentBanner = page.extensions[constant('Swag\\PayPal\\Installment\\Banner\\InstallmentBannerSubscriber::PAYPAL_INSTALLMENT_BANNER_DATA_EXTENSION_ID')] %}
{% set installmentBannerEnabled = installmentBanner is not null %}

{% block page_checkout_address %}
    {% block page_checkout_address_header %}
        <h1 class="address-main-header">
            {{ "checkout.welcomeBack"|trans|sw_sanitize }}
        </h1>
    {% endblock %}

    {% block page_checkout_address_login %}
        <div class="collapse-toogle">
            {% block page_checkout_address_login_toggle %}
                <a href="#loginCollapse"
                   class="login-collapse-toggle collapsed"
                   {{ dataBsToggleAttr }}="collapse"
                   aria-expanded="false">
                    <strong>{{ "checkout.addressLoginToggle"|trans|sw_sanitize }}</strong>
                    {% sw_icon 'plus' %}
                    {% sw_icon 'minus' %}
                </a>
            {% endblock %}

            <div class="collapse" id="loginCollapse">
                {{ block('page_checkout_address_login_card') }}

                {% if expressEnabled or installmentBannerEnabled %}
                    {% block page_checkout_address_login_swag_paypal %}
                        <div class="row mb-2">
                            {% if expressEnabled %}
                                {% block page_checkout_address_login_swag_paypal_button %}
                                    {% sw_include '@SwagPayPal/storefront/component/ecs-spb-checkout/ecs-button.html.twig' ignore missing with {button_class: 'col-12 col-md-6'} %}
                                {% endblock %}
                            {% endif %}

                            {% if installmentBannerEnabled %}
                                {% block page_checkout_address_login_swag_paypal_banner %}
                                    <div class="col-6 mt-2"
                                         data-swag-paypal-installment-banner="true"
                                         data-swag-pay-pal-installment-banner-options="{{ installmentBanner|json_encode }}">
                                    </div>
                                {% endblock %}
                            {% endif %}
                        </div>
                    {% endblock %}
                {% endif %}
            </div>
        </div>
    {% endblock %}

    {% block page_checkout_address_register %}
        <div class="collapse-toogle">
            <a href="#registerCollapse"
               class="register-collapse-toggle"
               {{ dataBsToggleAttr }}="collapse"
               aria-expanded="true">
                <strong>{{ "checkout.addressHeader"|trans|sw_sanitize }}</strong>
                {% sw_icon 'plus' %}
                {% sw_icon 'minus' %}
            </a>

            <div class="collapse show" id="registerCollapse">
                {{ block('page_checkout_address_register_card') }}
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block page_checkout_address_products_header %}
    {% set isCartNotEmpty = (page.cart.lineItems|length > 0) %}
    <div class="d-flex justify-content-between align-items-baseline">
        {{ parent() }}

        {% if isCartNotEmpty %}
            <div class="checkout-aside-product-counter">
                {{ "checkout.itemCounter"|trans({'%count%': page.cart.lineItems|length})|sw_sanitize }}</small>
            </div>
        {% endif %}
    </div>
{% endblock %}
