{% sw_extends '@Storefront/storefront/component/address/address-editor-modal-create-address.html.twig' %}

{% block component_address_address_editor_modal_create_address %}
    {% if not feature('v6.7.0.0') %}
    <div
        id="{{ typePrefix }}{% if address %}address-create-edit{% else %}address-create-new{% endif %}"
        class="collapse"
        data-bs-parent="#{{ typePrefix }}addressEditorCreatorAccordion"
    >
    {% endif %}
    {{ block('component_address_address_editor_modal_create_address_wrapper') }}
    {% if not feature('v6.7.0.0') %}
    </div>
    {% endif %}
{% endblock %}

{% block component_address_address_editor_modal_create_address_required_hint %}
    <p class="address-required-info required-fields">
        {% block component_address_address_editor_modal_create_address_required_hint_text %}
            {% sw_icon 'ic-info' style { 'pack': 'emporium' } %}
            {{ "general.requiredFields"|trans|sw_sanitize }}
        {% endblock %}
    </p>
{% endblock %}

{% block component_address_address_editor_modal_create_address_title %}
    <div class="card-title create-address-title">
        {{ block('component_address_address_editor_modal_create_address_title_text') }}
    </div>
{% endblock %}

{% block component_address_address_editor_modal_create_address_form_actions_cancel %}
    <button type="button"
            class="btn btn-outline-primary"
            title="{{ "general.cancel"|trans|sw_sanitize }}"
            data-bs-toggle="collapse"
            data-bs-target="#{{ typePrefix }}address-list">
        {{ "general.cancel"|trans|sw_sanitize }}
    </button>
{% endblock %}
