{# SwagEmporiumTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_add_promotion_submit %}
    <button class="btn btn-secondary"
            type="submit"
            id="addPromotion">
        {{ "checkout.addPromotionAction"|trans|sw_sanitize }}
    </button>
{% endblock %}

{% block page_checkout_cart_add_product_submit %}
    <button class="btn btn-secondary"
            type="submit"
            id="addProductButton">
        {{ "checkout.addPromotionAction"|trans|sw_sanitize }}
    </button>
{% endblock %}

{% block page_checkout_cart_add_product %}
    <div class="cart-add-product-container">
        {% block page_checkout_cart_add_product_heading %}
            <h5>{{ "checkout.addProductHeading"|trans|sw_sanitize }}</h5>
        {% endblock %}

        <form action="{{ path('frontend.checkout.product.add-by-number') }}"
              class="cart-add-product"
              method="post">
            {{ block('page_checkout_cart_add_product_redirect') }}

            {{ block('page_checkout_cart_add_product_input_group') }}
        </form>
    </div>
{% endblock %}

{% block page_checkout_cart_shipping_costs_trigger %}
    <h5>{{ "checkout.shippingCosts"|trans|sw_sanitize }}</h5>
{% endblock %}

{% block page_checkout_cart_add_promotion_input %}
    <input type="text"
           name="code"
           class="form-control"
           id="addPromotionInput"
           placeholder="{{ "checkout.addPromotionPlaceholder"|trans|striptags }}"
           aria-label="{{ "checkout.addPromotionLabel"|trans|striptags }}"
           aria-describedby="addPromotion"
           required="required">
{% endblock %}

{% block page_checkout_cart_add_product_input %}
    <input type="text"
           name="number"
           class="form-control"
           id="addProductInput"
           placeholder="{{ "checkout.addProductPlaceholder"|trans|striptags }}{{ "general.required"|trans|sw_sanitize }}"
           aria-label="{{ "checkout.addProductLabel"|trans|striptags }}"
           aria-describedby="addProductButton"
           required="required">
{% endblock %}
