{% sw_extends '@Storefront/storefront/page/error/error-404.html.twig' %}

{% block not_found_error_content %}
    <div class="container-404 align-middle">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="error-image-wrap">
                    {% block not_found_error_picture %}
                        <img src="{{ theme_config('sw-404-image') |sw_encode_url }}"
                             alt="{{ "general.404ErrorPageHeader"|trans|striptags }}" />
                    {% endblock %}
                </div>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 offset-xl-1">
                <div class="error-content-wrap">
                    {% block not_found_error_header %}
                        <h1>{{ "general.404ErrorPageHeader"|trans|sw_sanitize }}</h1>
                    {% endblock %}

                    {% block not_found_error_description %}
                        <p>{{ "general.404ErrorDescription"|trans|sw_sanitize }}</p>
                    {% endblock %}

                    {% block not_found_error_return %}
                        {{ parent() }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
