{% sw_extends '@Storefront/storefront/layout/navigation/categories.html.twig' %}

{% block layout_navigation_categories_recoursion %}
    {% set navigationMaxDepth = 5 %}

    {{ parent() }}
{% endblock %}

{% block layout_navigation_categories_item_link %}
    {% if treeItem.category.type == 'folder' %}
        <div class="nav-item nav-link navigation-flyout-link is-level-{{ level }}{% if treeItem.category.visibleChildCount < 1 %} last-child{% endif %}"
             title="{{ name }}">
            <span itemprop="name">{{ name }}</span>
        </div>
    {% else %}
        <a class="nav-item nav-link navigation-flyout-link is-level-{{ level }}{% if id == activeId or id in activePath %} active{% endif %}{% if treeItem.category.visibleChildCount < 1 %} last-child{% endif %}"
           href="{{ link }}"
           itemprop="url"
           {% if category_linknewtab(treeItem.category) %}target="_blank"
           {% if treeItem.category.linkType == "external" %}rel="noopener noreferrer"{% endif %}
            {% endif %}
           title="{{ name }}">
            <span itemprop="name">{{ name }}</span>
        </a>
    {% endif %}
{% endblock %}
