{# SwagEmporiumTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/component/address/address-editor-modal-list.html.twig' %}

{% block component_address_address_editor_modal_list %}
    <div id="{{ typePrefix }}address-list"
         class="collapse {% if not address %} show{% endif %}"
         data-bs-parent="#{{ typePrefix }}addressEditorAccordion">
        {{ block('component_address_address_editor_modal_list_wrapper') }}
    </div>
{% endblock %}

{% block component_address_address_editor_modal_list_address_body %}
    <div class="card-body">
        <div class="d-flex">
            {{ block('component_address_address_editor_modal_list_address_include') }}

            {{ block('component_address_address_editor_modal_list_address_actions') }}
        </div>
    </div>
{% endblock %}
