{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm_tos %}{% endblock %}
{% block page_checkout_confirm_header %}{% endblock %}

{% block page_checkout_main %}
    <h1 class="confirm-main-header">
        {{ "checkout.confirmHeader"|trans|sw_sanitize }}
    </h1>

    {{ parent() }}
{% endblock %}

{% block page_checkout_aside_summary %}
    {{ parent() }}

    <div class="confirm-tos">
        {{ block('page_checkout_confirm_tos_header') }}

        {{ block('page_checkout_confirm_revocation_notice') }}

        {{ block('page_checkout_confirm_tos_control') }}

        {% block page_checkout_confirm_revocation_control %}
            {% if page.showRevocation() %}
                <div class="form-check">
                    {{ block('page_checkout_confirm_revocation_control_checkbox') }}

                    {{ block('page_checkout_confirm_revocation_control_label') }}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
