{# SwagEmporiumTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/component/account/register.html.twig' %}

{% block component_account_register_personal_mail_input %}
    <input type="email"
           class="form-control{% if formViolations.getViolations('/email') is not empty %} is-invalid{% endif %}"
           autocomplete="section-personal email"
           id="personalMail"
           placeholder="{{ "account.personalMailPlaceholder"|trans|striptags }}{{ "general.required"|trans|sw_sanitize }}"
           name="email"
           value="{{ data.get('email') }}"
        {% if config('core.loginRegistration.requireEmailConfirmation') %}
            data-form-validation-equal="personalMail"
        {% endif %}
           required="required">
{% endblock %}

{% block component_account_register_personal_mail_confirmation_input %}
    <input type="email"
           class="form-control{% if formViolations.getViolations('/email') is not empty or formViolations.getViolations('/emailConfirmation') is not empty %} is-invalid{% endif %}"
           autocomplete="section-personal email"
           id="personalMailConfirmation"
           placeholder="{{ "account.personalMailConfirmationPlaceholder"|trans|striptags }}{{ "general.required"|trans|sw_sanitize }}"
           name="emailConfirmation"
           value="{{ data.get('emailConfirmation') }}"
           data-form-validation-equal="personalMail"
           data-form-validation-equal-message="{{ "account.personalMailConfirmationInvalidMessage"|trans|striptags }}"
           required="required">
{% endblock %}

{% block component_account_register_personal_password_input %}
    <input type="password"
           class="form-control{% if formViolations.getViolations('/password') is not empty %} is-invalid{% endif %}"
           autocomplete="new-password"
           id="personalPassword"
           placeholder="{{ "account.personalPasswordPlaceholder"|trans|striptags }}{{ "general.required"|trans|sw_sanitize }}"
           name="password"
           minlength="{{ config('core.loginRegistration.passwordMinLength') }}"
        {% if config('core.loginRegistration.requirePasswordConfirmation') %}
            data-form-validation-equal="newPassword"
        {% endif %}
        {% if config('core.loginRegistration.passwordMinLength') != 0 %}
            data-form-validation-length="{{ config('core.loginRegistration.passwordMinLength') }}"
            data-form-validation-length-message=" {{ "account.personalPasswordDescription"|trans({
                '%minLength%': config('core.loginRegistration.passwordMinLength')
            })|sw_sanitize }}"
        {% endif %}
           required="required">
{% endblock %}

{% block component_account_register_personal_password_confirmation_input %}
    <input type="password"
           class="form-control{% if formViolations.getViolations('/password') is not empty or formViolations.getViolations('/passwordConfirmation') is not empty %} is-invalid{% endif %}"
           autocomplete="new-password"
           id="personalPasswordConfirmation"
           placeholder="{{ "account.personalPasswordConfirmationPlaceholder"|trans|striptags }}{{ "general.required"|trans|sw_sanitize }}"
           name="passwordConfirmation"
           minlength="{{ config('core.loginRegistration.passwordMinLength') }}"
           data-form-validation-equal="newPassword"
           data-form-validation-equal-message="{{ "account.personalPasswordConfirmationInvalidMessage"|trans|striptags }}"
           required="required">
{% endblock %}

{% block component_account_register_required_fields %}
{% endblock %}

{% block component_account_register_privacy %}
{% endblock %}

{% block component_account_register_submit %}
    {% block clone_component_account_register_required_fields %}
        <p class="register-required-info">
            {% sw_icon 'ic-alert' style { 'pack':'emporium' } %}
            {{ "general.requiredFields"|trans|sw_sanitize }}
        </p>
    {% endblock %}

    <div class="row align-items-center">
        <div class="col-12 col-lg-6">
            {% block clone_component_account_register_privacy %}
                {% sw_include '@Storefront/storefront/component/privacy-notice.html.twig' %}
            {% endblock %}
        </div>

        <div class="col-12 col-lg-6">
            <div class="register-submit">
                <button type="submit"
                        class="btn btn-primary">
                    {{ "account.registerSubmit"|trans|sw_sanitize }}
                </button>
            </div>
        </div>
    </div>
{% endblock %}
