{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_top_bar %}
{% endblock %}

{% block layout_header_logo %}
    <div class="col-12 col-md-auto header-logo-col">
        {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
    </div>
{% endblock %}

{% block layout_header_search %}
    <div class="col-12 order-2 col-sm order-sm-1 header-search-col">
        <div class="row">
            <div class="col-sm-auto navigation-toggle-tablet">
                {{ block('layout_header_navigation_toggle_tablet') }}
            </div>
            <div class="col header-search-form offset-lg-1">
                {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block layout_header_navigation_toggle_tablet_button_icon %}
    <div class="navigation-toggle">
        {% sw_icon 'stack' %}
        <span class="d-none d-md-block">{{ "general.menuLink"|trans|striptags }}</span>
    </div>
{% endblock %}

{% block layout_header_search_toggle %}
    <div class="col-auto d-lg-none">
        <div class="search-toggle">
            <button class="btn header-actions-btn search-toggle-btn js-search-toggle-btn collapsed"
                    type="button"
                    {{ dataBsToggleAttr }}="collapse"
                    {{ dataBsTargetAttr }}="#searchCollapse"
                    aria-expanded="false"
                    aria-controls="searchCollapse"
                    aria-label="{{ "header.searchButton"|trans|striptags }}">
                {% sw_icon 'ic-search' style { 'pack':'emporium' } %}
            </button>
        </div>
    </div>
{% endblock %}
