{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_top_bar %}
{% endblock %}

{% block layout_header_logo %}
    <div class="col-12 col-md-auto header-logo-col">
        {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
    </div>
{% endblock %}

{% block layout_header_search %}
    <div class="col-12 order-2 col-sm order-sm-1 header-search-col">
        <div class="d-flex align-items-center">
            <div class="navigation-toggle-tablet">
                {{ block('layout_header_navigation_toggle_tablet') }}
            </div>
            <div class="header-search-form">
                {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block layout_header_navigation_toggle_tablet %}
    <div class="d-block d-lg-none">
        {{ parent() }}
    </div>

    {% block layout_header_navigation_toggle_desktop_button %}
        <div class="header-navigation-desktop dropdown d-none d-lg-block">
            <button class="btn dekstop-nav-main-toggle-btn header-actions-btn"
                    type="button"
                    id="navigationWidget"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    aria-label="{{ "general.menuLink"|trans|striptags }}"
                    title="{{ "general.menuLink"|trans|striptags }}">
                {% block layout_header_navigation_toggle_desktop_button_icon %}
                    {% sw_icon 'stack' %}
                {% endblock %}
                <span class="d-none d-lg-inline">{{ "general.menuLink"|trans|striptags }}</span>
            </button>

            <div class="dropdown-menu navigation-menu-dropdown" aria-labelledby="navigationWidget">
                {% block layout_header_navigation_desktop_content %}
                    {% sw_include '@Storefront/storefront/layout/navigation/navigation.html.twig' %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block layout_header_navigation_toggle_tablet_button_icon %}
    <div class="navigation-toggle">
        {% sw_icon 'stack' %}
        <span class="d-none d-md-block">{{ "general.menuLink"|trans|striptags }}</span>
    </div>
{% endblock %}

{% block layout_header_search_toggle %}
    <div class="col-auto d-lg-none">
        <button class="btn header-actions-btn search-toggle-btn js-search-toggle-btn collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#searchCollapse"
                aria-expanded="false"
                aria-controls="searchCollapse"
                aria-label="{{ "header.searchButton"|trans|striptags }}">
            {% sw_icon 'ic-search' style { 'pack':'emporium' } %}
        </button>
    </div>
{% endblock %}
