{# SwagEmporiumTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}

{% block layout_search_suggest_result_link %}
    <a href="{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}"
       title="{{ product.translated.name }}"
       class="search-suggest-product-link">
        <div class="row align-items-center g-0">
            {{ block('layout_search_suggest_result_image') }}

            <div class="col-auto col-md search-suggest-product-info" >
                {{ block('layout_search_suggest_result_name') }}

                {{ block('layout_search_suggest_result_price') }}
            </div>
        </div>
    </a>
{% endblock %}

{% block layout_search_suggest_result_total_result %}
    <li class="js-result search-suggest-total">
        <div class="row align-items-center justify-content-center g-0">
            {% block layout_search_suggest_result_total_link %}
                <div class="col-12 col-md-7">
                    <a href="{{ path('frontend.search.page') }}?search={{ page.searchTerm }}"
                       title="{{ "header.searchAllResults"|trans|striptags }}"
                       class="search-suggest-total-link btn btn-outline-primary">
                        {{ "header.searchAllResults"|trans|sw_sanitize }}

                        {% block layout_search_suggest_result_total_count %}
                            (<span class="col-auto search-suggest-total-count p-0">
                                {{ "header.searchResults"|trans({
                                    '%count%': page.searchResult.total,
                                })|sw_sanitize }}
                            </span>)
                        {% endblock %}
                    </a>
                </div>
            {% endblock %}
        </div>
    </li>
{% endblock %}
